<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col size="2">
        <ion-title>PAGE LIST ITEM</ion-title>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" (click)="openModal()">Create
          <ion-icon slot="end" name="star"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="logOut()" color="danger">LogOut</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>  
<ion-grid>    
  <ion-row>
    <ion-col size="0.5">
      <div>ID</div>
    </ion-col>
    <ion-col size="2">
      <div>CAMPO 1</div>
    </ion-col>
    <ion-col size="4"> 
      <div>CAMPO 2</div>
    </ion-col>
    <ion-col size="2">
    </ion-col>
    <ion-col size="2">
    </ion-col>
  </ion-row>
  <ion-row *ngFor="let listItem of listItems$ | async">
    <ion-col size="0.5">
      <div>{{ listItem.id }}</div>
    </ion-col>
    <ion-col size="2">
      <div>{{ listItem.campo1 }}</div>
    </ion-col>
    <ion-col size="4">
      <div>{{ listItem.campo2 }}</div>
    </ion-col>
    <ion-col size="2"> 
      <ion-button (click)="openModalUpdate(listItem)"color="success">Update</ion-button>      
    </ion-col>
    <ion-col size="2"> 
      <ion-button (click)="deleteListItem(listItem.id)"color="danger">Delete</ion-button>  
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>