<ion-header>
  <ion-toolbar>
    <ion-title>Create</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">  
  <form (ngSubmit)="createListItem(createForm)" #createForm="ngForm">
  <ion-grid>
    <ion-row>
      <ion-col text-center>Campo 111</ion-col>
      <ion-col text-center>
        <input
          type="text"
          id="campo1"
          name="campo1"
          class="form-control"
          ngModel
          required
          style="width: 400px"/>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>Campo 222</ion-col>
      <ion-col text-center>
        <input
        type="text"
        id="campo2"
        name="campo2"
        class="form-control"
        ngModel
        required
        style="width: 400px"/>
      </ion-col>
    </ion-row>
    <ion-button [disabled]="createForm.invalid" class="btn btn-success" type="submit">Create</ion-button>
  </ion-grid>
  </form>
</ion-content>